body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    width:200px;
    height:200px;
    border: 1px solid black;

    /*display: flex;
    align-items: center;
    justify-content: center;*/
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center

}

.tile{
    width: 32%;
    height: 32%;
    border: 1px solid black;


    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 100px;
}